# compiled source #
#########
*.pyc
*.pyo
*.o
*.so
*.so*
*.swp
*.swo
*.exe

# data stores #
########
data
goodData
#wordnetData
nef_data
neural_runtimes
gpu_output_*

# images (graphs mostly) #
#########
*.png
